<html xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="js">

    <!-- Vendor JS Files -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/owl.carousel.js}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script>
         $('#datepicker').datepicker({
             uiLibrary: 'bootstrap4'
         });
    </script>
    <script>
         let b=true;
         let audio = document.getElementById("song")
         audio.play()
         document.getElementById('play').classList.add("fa-pause")
         audio.addEventListener("timeupdate",()=>{
            let timePlayed = (audio.currentTime / audio.duration) * 100
            document.getElementById("range").style.width = timePlayed+"%"

         })



         document.getElementById('play').addEventListener("click",()=>{
            b = b?false:true;

            if(b){
               audio.play()

               document.getElementById('play').classList.remove("fa-play")
               document.getElementById('play').classList.add("fa-pause")

            }
            else{
                audio.pause()
               document.getElementById('play').classList.remove("fa-pause")
               document.getElementById('play').classList.add("fa-play")
            }

         })

         document.getElementById("vu").addEventListener("click",()=>{
         })

      </script>

</th:block>

</html>