<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
</head>

<body>
    <th:block th:replace="fragments/_header.html::header"></th:block>


    <div class="songs-container">
        <div class="row" style="padding-bottom: 3% !important;">
            <div class="col-md-3">
                <h2>Nom de la playlist</h2>
            </div>
            <div class="col-md-9" style="margin-left: -9% !important;">
                <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-pencil"></i></button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <form action="">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modifier votre playlist</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label >Nom</label>
                                <input type="text" class="form-control ">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                            <button type="button" class="btn btn-success">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <ul>
            <li>
                <a href="play.html">
                    <div class="song">
                        <div class="imgBox">
                            <img src="images/img-4.png" alt="">
                        </div>
                        <div class="content">
                            <span class="title">title</span>
                            <span class="author">Belka tobis</span>
                        </div>
                        <div class="trash">
                            <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-remove"></i></button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous vraiment retirer de la playlist ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="button" class="btn btn-danger">Supprimer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="play.html">
                    <div class="song">
                        <div class="imgBox">
                            <img src="images/img-4.png" alt="">
                        </div>
                        <div class="content">
                            <span class="title">title</span>
                            <span class="author">Belka tobis</span>
                        </div>
                        <div class="trash">
                            <button class="btn btn-danger"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="play.html">
                    <div class="song">
                        <div class="imgBox">
                            <img src="images/img-4.png" alt="">
                        </div>
                        <div class="content">
                            <span class="title">title</span>
                            <span class="author">Belka tobis</span>
                        </div>
                        <div class="trash">
                            <button class="btn btn-danger"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="play.html">
                    <div class="song">
                        <div class="imgBox">
                            <img src="images/img-4.png" alt="">
                        </div>
                        <div class="content">
                            <span class="title">title</span>
                            <span class="author">Belka tobis</span>
                        </div>
                        <div class="trash">
                            <button class="btn btn-danger"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="play.html">
                    <div class="song">
                        <div class="imgBox">
                            <img src="images/img-4.png" alt="">
                        </div>
                        <div class="content">
                            <span class="title">title</span>
                            <span class="author">Belka tobis</span>
                        </div>
                        <div class="trash">
                            <button class="btn btn-danger"><i class="fa fa-remove"></i></button>
                        </div>

                    </div>
                </a>
            </li>
        </ul>
    </div>



    <th:block th:replace="fragments/_footer.html::footer"></th:block>

    <th:block th:replace="fragments/_js.html::js"></th:block>
</body>

</html>