<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
</head>

<body>
    <th:block th:replace="fragments/_header.html::header"></th:block>


    <div class="songs-container layout_padding2 banner-section2">
        <div class="justify-content-between d-flex">
            <div class="">
                <h3>Musiques de la playlist <span th:text="${playlist.intitulePlaylist}">test</span></h3>
<!--                <h2 th:text="${playlist.intitulePlaylist}">Nom de la playlist</h2>-->
            </div>
            <div class="">
                <button class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Modifier</button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <form th:action="@{/updatePlaylist}" th:method="post" th:object="${playlist}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Modifier votre playlist</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label >Nom</label>
                                        <input type="hidden" th:value="${id}" th:field="*{id}" class="form-control ">
                                        <input type="text" th:value="${playlist.intitulePlaylist}" th:field="*{intitulePlaylist}" class="form-control ">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <ul>
            <li th:each="titre : ${titres}" class="mt-2">
                <a th:href="@{'/play?id=' + ${titre.titreDto.id}}">

                </a>
                <div class="song">
                    <div class="imgBox" style="margin-top: 1%;">
                        <a th:href="@{'/play?id=' + ${titre.titreDto.id}}">
                            <img th:src="@{${titre.titreDto.image}}" alt="">
                        </a>

                    </div>
                    <div class="content">
                        <a th:href="@{'/play?id=' + ${titre.titreDto.id}}">
                            <span class="title" th:text="${titre.titreDto.intitule}">title</span>
                            <span class="artiste" style="display: flex; flex-direction: row;"> <h4 style="padding-right: 10px;" th:each="artiste : ${titre.artisteDtos}" th:text="${artiste.surnom}">Belka tobis</h4> </span>

                        </a>
                    </div>
                    <!--    <i class="fa fa-play" style="margin-top: 1%;"></i>-->
                    <div class="trash">
                        <a class="btn btn-danger" th:href="@{'/delete/'+${playlist.id}+'/'+${titre.titreDto.id}}">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>

    </div>



    <th:block th:replace="fragments/_footer.html::footer"></th:block>

    <th:block th:replace="fragments/_js.html::js"></th:block>
</body>

</html>